@mixin flex($flex-direction, $align-item, $justify-content) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-item;
  justify-content: $justify-content;
}

@mixin montserrat($font-size, $font-weight, $line-height) {
  font-family: "Montserrat", sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin mobile {
  @media only screen and (max-width: $mobile-width) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (max-width: $desktop-width) {
    @content;
  }
}
