@mixin flex($flex-direction, $aligin-item, $justify-content) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $aligin-item;
  justify-content: $justify-content;
}

@mixin font($font-family, $font-size, $font-weight, $line-height) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin mobile {
  @media only screen and (max-width: $mobile-width) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (max-width: $desktop-width) {
    @content;
  }
}
