//Colors
$dark-blue: #131a40;
$light-blue: #4d67ff;
$primary-blue: #455de6;
$secondary-blue: #394dbf;
$tertiary-blue: #26337f;

//Border radius
$small-border-radius: 4px;
$medium-border-radius: 8px;
$large-border-radius: 12px;

// Screen sizes
$mobile-width: 590px;
$tablet-width: 768px;
$desktop-width: 1100px;
