//Colors
$dark-blue: #131A40;
$light-blue: #4D67FF;
$primary-blue: #455DE6;
$secondary-blue: #394DBF;
$tertiary-blue: #26337F;

//Border radius
$small-border-radius: 4px;
$medium-border-radius: 8px;
$large-border-radius: 12px;

// Screen sizes
$mobile-width: 590px;
$tablet-width: 768px;
$desktop-width: 1100px;